# Import Libraries

In [193]:
import pandas as pd

# Import Dataframe from CSV

In [194]:
df = pd.read_csv('DataScientist2.csv')

In [195]:
df.head()

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1,-1
1,1,1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1,-1
2,2,2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,TRUE
3,3,3,Data Analyst,$111K-$181K (Glassdoor est.),NaN,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",NaN,201 to 500 employees,2019,Company - Private,NaN,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades",-1
4,4,4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,NaN,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5",-1

In [196]:
df.shape

(3912, 17)

# 1 - Dropping Columns

In [197]:
to_drop = ['index','Rating','Headquarters','Size','Founded','Type of ownership'
    ,'Revenue','Sector','Easy Apply','Competitors','Unnamed: 0']

In [198]:
df.drop(to_drop, inplace=True, axis=1)

In [199]:
df.shape

(3912, 6)

In [200]:
df.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Industry
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",Hopper\n3.5,"New York, NY",Travel Agencies
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",Noom US\n4.5,"New York, NY","Health, Beauty, & Fitness"
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,Decode_M,"New York, NY",-1
3,Data Analyst,$111K-$181K (Glassdoor est.),NaN,Sapphire Digital\n3.4,"Lyndhurst, NJ",NaN
4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",United Entertainment Group\n3.4,"New York, NY",NaN

# 2 - Removing Duplicates

In [201]:
df[df.duplicated(keep = False)]

,Job Title,Salary Estimate,Job Description,Company Name,Location,Industry
3906,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),Job DescriptionThe Security Analytics Data Eng...,"PDS Tech, Inc.\n3.8","Dublin, OH",Staffing & Outsourcing
3907,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),The Security Analytics Data Engineer will inte...,Data Resource Technologies\n4.0,"Dublin, OH",Accounting
3908,Patient Safety Physician or Safety Scientist -...,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\nAt UCB, we...",UCB\n3.7,"Slough, OH",Biotech & Pharmaceuticals
3909,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),Job DescriptionThe Security Analytics Data Eng...,"PDS Tech, Inc.\n3.8","Dublin, OH",Staffing & Outsourcing
3910,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),The Security Analytics Data Engineer will inte...,Data Resource Technologies\n4.0,"Dublin, OH",Accounting
3911,Patient Safety Physician or Safety Scientist -...,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\nAt UCB, we...",UCB\n3.7,"Slough, OH",Biotech & Pharmaceuticals

In [202]:
df.drop_duplicates(keep = 'first', inplace=True)

In [203]:
df[df.duplicated(keep = False)]

Empty DataFrame
Columns: [Job Title, Salary Estimate, Job Description, Company Name, Location, Industry]
Index: []

# 3 - Remove Irrelevant Rows

In [204]:
len(df[df['Salary Estimate'].str.contains('Per Hour', case = False)])

21

In [205]:
df.shape

(3909, 6)

In [206]:
df = df.drop(df[df['Salary Estimate'].str.contains('Per Hour', case = False) == True].index)

In [207]:
df.shape

(3888, 6)

In [208]:
len(df[df['Salary Estimate'].str.contains('Per Hour', case = False)])

0

# 4 - Removing Nulls and Blanks

In [209]:
df.isna().sum()

Job Title          1
Salary Estimate    0
Job Description    1
Company Name       0
Location           0
Industry           2
dtype: int64

In [210]:
df = df.dropna(subset=['Job Description'])

In [211]:
df.isna().sum()

Job Title          1
Salary Estimate    0
Job Description    0
Company Name       0
Location           0
Industry           1
dtype: int64

In [212]:
df = df.dropna()

In [213]:
df.isna().sum()

Job Title          0
Salary Estimate    0
Job Description    0
Company Name       0
Location           0
Industry           0
dtype: int64

In [214]:
df.head(100)

,Job Title,Salary Estimate,Job Description,Company Name,Location,Industry
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",Hopper\n3.5,"New York, NY",Travel Agencies
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",Noom US\n4.5,"New York, NY","Health, Beauty, & Fitness"
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,Decode_M,"New York, NY",-1
5,Data Scientist,$111K-$181K (Glassdoor est.),Job Brief\n\nThe ideal candidate will have pre...,IFG Companies\n2.9,"New York, NY",Insurance Carriers
7,Quantitative Research Associate,$111K-$181K (Glassdoor est.),Seeking a quant to work with senior researcher...,Enlightenment Research,"New York, NY",-1
...,...,...,...,...,...,...
98,Data Scientist,$74K-$124K (Glassdoor est.),"Data Scientist\n\n\nNew York, NY | Full Time\n...",CKM Advisors\n2.9,"New York, NY",Consulting
99,Machine Learning Engineer/Scientist,$74K-$124K (Glassdoor est.),About the Position\n\n\nJane Street is seeking...,Jane Street\n4.8,"New York, NY",Investment Banking & Asset Management
100,Point72 Healthcare Data Scientist,$74K-$124K (Glassdoor est.),About Point72\nPoint72 Asset Management is a g...,Point72\n3.9,"New York, NY",Investment Banking & Asset Management
101,Senior Data Scientist - Automated Marketing,$74K-$124K (Glassdoor est.),We are looking for a Senior Data Scientist wit...,Spotify\n3.8,"New York, NY",Internet
102,Data Scientist,$74K-$124K (Glassdoor est.),We are the most sought after hedge fund in New...,Averity\n5.0,"New York, NY",Staffing & Outsourcing

In [215]:
df[df['Industry'].str.contains('-1')]

,Job Title,Salary Estimate,Job Description,Company Name,Location,Industry
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,Decode_M,"New York, NY",-1
7,Quantitative Research Associate,$111K-$181K (Glassdoor est.),Seeking a quant to work with senior researcher...,Enlightenment Research,"New York, NY",-1
40,Data Scientist,$120K-$140K (Glassdoor est.),We make small businesses more successful throu...,NorthOne\n4.3,"New York, NY",-1
44,Data Science Analyst,$120K-$140K (Glassdoor est.),"Job Description\nOur client, a music streaming...",MUSIC & Entertainment,"New York, NY",-1
55,"Data Scientist, Analytics & Inference",$120K-$140K (Glassdoor est.),"Hello, World! Codecademy has helped over 45 mi...",Codeacademy,"New York, NY",-1
...,...,...,...,...,...,...
3880,Data Science Technical Lead / Architect,$39K-$86K (Glassdoor est.),Urgent need for DATASCIENCE TECHNICAL LEAD ARC...,DATAECONOMY\n5.0,"Columbus, OH",-1
3882,Big Data Engineer,$55K-$112K (Glassdoor est.),RESPONSIBILITIES Kforce has a client in search...,Kforce Technology Staffing,"Columbus, OH",-1
3883,"Columbus Opportunities: Finance, Accounting, D...",$55K-$112K (Glassdoor est.),Job Description\nWe are experts at conducting ...,"Rainmaker Resources, LLC","Columbus, OH",-1
3886,Big Data Engineer,$55K-$112K (Glassdoor est.),Job Description:\nAct as a strong developer us...,Zllius Inc.,"Columbus, OH",-1
3897,Senior Data Engineer,$55K-$112K (Glassdoor est.),Job Responsibility:\nBased on business strateg...,Kognetics\n3.6,"Gahanna, OH",-1

In [216]:
df['Industry'].replace('-1', 'Unknown', inplace= True)

In [217]:
df[df['Industry'].str.contains('-1')]

,Job Title,Salary Estimate,Job Description,Company Name,Location,Industry
684,Data Engineer,$136K-$164K (Glassdoor est.),Company Overview:\nAge of Learning is a leadin...,Age of Learning\n3.3,"Glendale, CA",K-12 Education
838,Data Analyst,$39K-$81K (Glassdoor est.),Chicago Public Schools (CPS) is the third larg...,Chicago Public Schools\n3.5,"Chicago, IL",K-12 Education
874,CSI Data Analyst,$76K-$147K (Glassdoor est.),Chicago Public Schools (CPS) is the third larg...,Chicago Public Schools\n3.5,"Chicago, IL",K-12 Education
1051,Senior Data Analyst,$47K-$82K (Glassdoor est.),Chicago Public Schools (CPS) is the third larg...,Chicago Public Schools\n3.5,"Chicago, IL",K-12 Education
1544,Senior Data Engineer,$97K-$111K (Glassdoor est.),"If you’re bright, highly motivated and want to...",StrongMind\n3.8,"Chandler, AZ",K-12 Education

In [218]:
df['Industry'].value_counts()

Unknown                                 543
IT Services                             471
Staffing & Outsourcing                  313
Biotech & Pharmaceuticals               291
Computer Hardware & Software            263
                                       ...
Commercial Equipment Rental               1
Metals Brokers                            1
Truck Rental & Leasing                    1
Beauty & Personal Accessories Stores      1
Auto Repair & Maintenance                 1
Name: Industry, Length: 96, dtype: int64

# 5 - Standardise Values

In [219]:
df[df['Job Title'].str.contains('scientist', case = False)]

,Job Title,Salary Estimate,Job Description,Company Name,Location,Industry
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",Hopper\n3.5,"New York, NY",Travel Agencies
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",Noom US\n4.5,"New York, NY","Health, Beauty, & Fitness"
5,Data Scientist,$111K-$181K (Glassdoor est.),Job Brief\n\nThe ideal candidate will have pre...,IFG Companies\n2.9,"New York, NY",Insurance Carriers
8,AI Scientist,$111K-$181K (Glassdoor est.),Paige is a software company helping pathologis...,Paige\n5.0,"New York, NY",Enterprise Software & Network Solutions
10,Data Scientist,$111K-$181K (Glassdoor est.),Company Description:\n\nQuartet is a pioneerin...,Quartet Health\n3.9,"New York, NY",Enterprise Software & Network Solutions
...,...,...,...,...,...,...
3872,IGM - Post Doctoral Scientist - Chaudhari Lab,$39K-$86K (Glassdoor est.),JOB POSTING - Post Doctoral Scientist IGM\nFul...,Nationwide Children's Hospital\n3.7,"Columbus, OH",Health Care Services & Hospitals
3884,Senior Research Scientist - RI IPP Cooper,$55K-$112K (Glassdoor est.),JOB POSTING – Senior Research Scientist – RI I...,Nationwide Children's Hospital\n3.7,"Columbus, OH",Health Care Services & Hospitals
3893,Biotransformation Scientist and DMPK Design Lead,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\n\nAt UCB, ...",UCB\n3.7,"Slough, OH",Biotech & Pharmaceuticals
3895,Senior/Principal Scientist - Display Technolog...,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\n\nAt UCB, ...",UCB\n3.7,"Slough, OH",Biotech & Pharmaceuticals
3908,Patient Safety Physician or Safety Scientist -...,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\nAt UCB, we...",UCB\n3.7,"Slough, OH",Biotech & Pharmaceuticals

In [220]:
df.loc[df['Job Title'].str.contains('scientist', case = False), 'Job Title'] = 'Data Scientist'

In [221]:
df[df['Job Title'].str.contains('scientist', case = False)]

,Job Title,Salary Estimate,Job Description,Company Name,Location,Industry
0,Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",Hopper\n3.5,"New York, NY",Travel Agencies
1,Data Scientist,$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",Noom US\n4.5,"New York, NY","Health, Beauty, & Fitness"
5,Data Scientist,$111K-$181K (Glassdoor est.),Job Brief\n\nThe ideal candidate will have pre...,IFG Companies\n2.9,"New York, NY",Insurance Carriers
8,Data Scientist,$111K-$181K (Glassdoor est.),Paige is a software company helping pathologis...,Paige\n5.0,"New York, NY",Enterprise Software & Network Solutions
10,Data Scientist,$111K-$181K (Glassdoor est.),Company Description:\n\nQuartet is a pioneerin...,Quartet Health\n3.9,"New York, NY",Enterprise Software & Network Solutions
...,...,...,...,...,...,...
3872,Data Scientist,$39K-$86K (Glassdoor est.),JOB POSTING - Post Doctoral Scientist IGM\nFul...,Nationwide Children's Hospital\n3.7,"Columbus, OH",Health Care Services & Hospitals
3884,Data Scientist,$55K-$112K (Glassdoor est.),JOB POSTING – Senior Research Scientist – RI I...,Nationwide Children's Hospital\n3.7,"Columbus, OH",Health Care Services & Hospitals
3893,Data Scientist,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\n\nAt UCB, ...",UCB\n3.7,"Slough, OH",Biotech & Pharmaceuticals
3895,Data Scientist,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\n\nAt UCB, ...",UCB\n3.7,"Slough, OH",Biotech & Pharmaceuticals
3908,Data Scientist,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\nAt UCB, we...",UCB\n3.7,"Slough, OH",Biotech & Pharmaceuticals

In [222]:
df.loc[df['Job Title'].str.contains('analyst', case = False), 'Job Title'] = 'Data Analyst'

In [223]:
df.loc[df['Job Title'].str.contains('engineer', case = False), 'Job Title'] = 'Data Engineer'

In [224]:
df['Job Title']. value_counts()

Data Scientist                                        1746
Data Engineer                                          878
Data Analyst                                           874
Data Modeler                                            17
Microsoft Analytics Consultant                           9
                                                      ...
Managing Consultant - Data Science                       1
Revenue Management and Strategic Analytics Manager       1
Head of Data Science, Americas                           1
Data Modeler Architect                                   1
Columbus Data Science Tutor Jobs                         1
Name: Job Title, Length: 279, dtype: int64

In [225]:
threshold = 800
df_counts = df['Job Title']. value_counts()

In [226]:
df_thresdrop = df['Job Title'].isin(df_counts.index[df_counts < threshold])

In [227]:
df = df[~df_thresdrop]

In [228]:
df['Job Title'].value_counts()

Data Scientist    1746
Data Engineer      878
Data Analyst       874
Name: Job Title, dtype: int64

# 6 - Remove a Substring

In [229]:
df[['Est Min Salary', 'Est Max Salary']] = df['Salary Estimate'].str.split('-', expand = True)

In [230]:
df.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Industry,Est Min Salary,Est Max Salary
0,Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",Hopper\n3.5,"New York, NY",Travel Agencies,$111K,$181K (Glassdoor est.)
1,Data Scientist,$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",Noom US\n4.5,"New York, NY","Health, Beauty, & Fitness",$111K,$181K (Glassdoor est.)
5,Data Scientist,$111K-$181K (Glassdoor est.),Job Brief\n\nThe ideal candidate will have pre...,IFG Companies\n2.9,"New York, NY",Insurance Carriers,$111K,$181K (Glassdoor est.)
8,Data Scientist,$111K-$181K (Glassdoor est.),Paige is a software company helping pathologis...,Paige\n5.0,"New York, NY",Enterprise Software & Network Solutions,$111K,$181K (Glassdoor est.)
10,Data Scientist,$111K-$181K (Glassdoor est.),Company Description:\n\nQuartet is a pioneerin...,Quartet Health\n3.9,"New York, NY",Enterprise Software & Network Solutions,$111K,$181K (Glassdoor est.)

In [231]:
df[['Est Max Salary', 'Source']] = df['Est Max Salary'].str.split('(', expand = True)

In [232]:
df.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Industry,Est Min Salary,Est Max Salary,Source
0,Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",Hopper\n3.5,"New York, NY",Travel Agencies,$111K,$181K,Glassdoor est.)
1,Data Scientist,$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",Noom US\n4.5,"New York, NY","Health, Beauty, & Fitness",$111K,$181K,Glassdoor est.)
5,Data Scientist,$111K-$181K (Glassdoor est.),Job Brief\n\nThe ideal candidate will have pre...,IFG Companies\n2.9,"New York, NY",Insurance Carriers,$111K,$181K,Glassdoor est.)
8,Data Scientist,$111K-$181K (Glassdoor est.),Paige is a software company helping pathologis...,Paige\n5.0,"New York, NY",Enterprise Software & Network Solutions,$111K,$181K,Glassdoor est.)
10,Data Scientist,$111K-$181K (Glassdoor est.),Company Description:\n\nQuartet is a pioneerin...,Quartet Health\n3.9,"New York, NY",Enterprise Software & Network Solutions,$111K,$181K,Glassdoor est.)

In [233]:
replace_dict = {'\$' : '', 'K':'000'}

In [234]:
df['Est Min Salary'] = df['Est Min Salary'].replace(replace_dict, regex = True)

In [235]:
df.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Industry,Est Min Salary,Est Max Salary,Source
0,Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",Hopper\n3.5,"New York, NY",Travel Agencies,111000,$181K,Glassdoor est.)
1,Data Scientist,$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",Noom US\n4.5,"New York, NY","Health, Beauty, & Fitness",111000,$181K,Glassdoor est.)
5,Data Scientist,$111K-$181K (Glassdoor est.),Job Brief\n\nThe ideal candidate will have pre...,IFG Companies\n2.9,"New York, NY",Insurance Carriers,111000,$181K,Glassdoor est.)
8,Data Scientist,$111K-$181K (Glassdoor est.),Paige is a software company helping pathologis...,Paige\n5.0,"New York, NY",Enterprise Software & Network Solutions,111000,$181K,Glassdoor est.)
10,Data Scientist,$111K-$181K (Glassdoor est.),Company Description:\n\nQuartet is a pioneerin...,Quartet Health\n3.9,"New York, NY",Enterprise Software & Network Solutions,111000,$181K,Glassdoor est.)

In [236]:
df['Est Max Salary'] = df['Est Max Salary'].replace(replace_dict, regex = True)

In [237]:
df.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Industry,Est Min Salary,Est Max Salary,Source
0,Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",Hopper\n3.5,"New York, NY",Travel Agencies,111000,181000,Glassdoor est.)
1,Data Scientist,$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",Noom US\n4.5,"New York, NY","Health, Beauty, & Fitness",111000,181000,Glassdoor est.)
5,Data Scientist,$111K-$181K (Glassdoor est.),Job Brief\n\nThe ideal candidate will have pre...,IFG Companies\n2.9,"New York, NY",Insurance Carriers,111000,181000,Glassdoor est.)
8,Data Scientist,$111K-$181K (Glassdoor est.),Paige is a software company helping pathologis...,Paige\n5.0,"New York, NY",Enterprise Software & Network Solutions,111000,181000,Glassdoor est.)
10,Data Scientist,$111K-$181K (Glassdoor est.),Company Description:\n\nQuartet is a pioneerin...,Quartet Health\n3.9,"New York, NY",Enterprise Software & Network Solutions,111000,181000,Glassdoor est.)

In [238]:
df.drop('Source', inplace=True, axis=1)

# 7 - Convert Datatypes

In [239]:
df.dtypes

Job Title          object
Salary Estimate    object
Job Description    object
Company Name       object
Location           object
Industry           object
Est Min Salary     object
Est Max Salary     object
dtype: object

In [240]:
df['Est Min Salary'] = df['Est Min Salary'].astype(int)

In [241]:
df['Est Max Salary'] = df['Est Max Salary'].astype(int)

In [242]:
df.dtypes

Job Title          object
Salary Estimate    object
Job Description    object
Company Name       object
Location           object
Industry           object
Est Min Salary      int32
Est Max Salary      int32
dtype: object

In [243]:
df = df.drop('Salary Estimate', axis=1)

# 8 - Stripping Letters from strings

In [244]:
df['Company Name'] = df['Company Name'].str[:-4]

In [245]:
df.head(10)

,Job Title,Job Description,Company Name,Location,Industry,Est Min Salary,Est Max Salary
0,Data Scientist,"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",Hopper,"New York, NY",Travel Agencies,111000,181000
1,Data Scientist,"At Noom, we use scientifically proven methods ...",Noom US,"New York, NY","Health, Beauty, & Fitness",111000,181000
5,Data Scientist,Job Brief\n\nThe ideal candidate will have pre...,IFG Companies,"New York, NY",Insurance Carriers,111000,181000
8,Data Scientist,Paige is a software company helping pathologis...,Paige,"New York, NY",Enterprise Software & Network Solutions,111000,181000
10,Data Scientist,Company Description:\n\nQuartet is a pioneerin...,Quartet Health,"New York, NY",Enterprise Software & Network Solutions,111000,181000
11,Data Scientist,"PulsePoint™, a global programmatic advertising...",PulsePoint,"New York, NY",Internet,111000,181000
12,Data Scientist,Medidata: Conquering Diseases Together\n\nMedi...,Medidata Solutions,"New York, NY",Enterprise Software & Network Solutions,111000,181000
13,Data Scientist,A Career with Point72’s MI Data team\nAt Point...,Point72,"New York, NY",Investment Banking & Asset Management,111000,181000
14,Data Scientist,Two Sigma is a different kind of investment ma...,Two Sigma,"New York, NY",Investment Banking & Asset Management,111000,181000
15,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,Affinity Solutions,"New York, NY",Advertising & Marketing,111000,181000

# Mine Job Description

In [246]:
skill_set = ['sql','python', 'power bi', 'tableau', 'excel', ' r ']

In [247]:
for skills in skill_set:
    print('Number of jobs that require', skills, ' : ' , len(df[(df['Job Description'].str.contains(skills, case = False)) & (df['Job Title']=='Data Analyst')]))

Number of jobs that require sql  :  581
Number of jobs that require python  :  266
Number of jobs that require power bi  :  98
Number of jobs that require tableau  :  275
Number of jobs that require excel  :  533
Number of jobs that require  r   :  63

In [248]:
for skills in skill_set:
    print('Number of jobs that require', skills, ' : ' , len(df[(df['Job Description'].str.contains(skills, case = False)) & (df['Job Title']=='Data Scientist')]))

Number of jobs that require sql  :  641
Number of jobs that require python  :  980
Number of jobs that require power bi  :  40
Number of jobs that require tableau  :  192
Number of jobs that require excel  :  829
Number of jobs that require  r   :  168

In [249]:
for skills in skill_set:
    print('Number of jobs that require', skills, ' : ' , len(df[(df['Job Description'].str.contains(skills, case = False)) & (df['Job Title']=='Data Engineer')]))

Number of jobs that require sql  :  591
Number of jobs that require python  :  635
Number of jobs that require power bi  :  47
Number of jobs that require tableau  :  133
Number of jobs that require excel  :  294
Number of jobs that require  r   :  44