In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import csv
#from pyspark.sql import dataframe
from datetime import datetime

In [2]:
headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/20100101 Firefox/66.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

In [3]:
url = 'https://bitinfocharts.com/top-100-richest-bitcoin-addresses.html'
response = requests.get(url,headers=headers).text
soup = BeautifulSoup(response, "html.parser")

# Paste ChaptGPT Code

In [5]:
# Find the table with the specified attributes
table = soup.find('table', {'class': 'table table-condensed bb', 'style': 'max-width:1000px;text-align:center;width: inherit;margin-bottom: 0;'})

In [6]:
# Extract the headers
headers = [th.text for th in table.find('thead').find_all('th')]

In [7]:
# Extract the rows
rows = []
for tr in table.find('tbody').find_all('tr'):
    rows.append([td.text.strip() for td in tr.find_all('td')])

In [8]:
# Create a DataFrame
df = pd.DataFrame(rows, columns=headers)

In [9]:
# Add the current date and time column
df['Date and Time'] = pd.Timestamp.now().strftime('%d/%m/%Y %H:%M')

In [10]:
# Display the first few rows of the DataFrame
df.head()

,"Balance, BTC",Addresses,% Addresses (Total),Coins,USD,% Coins (Total),Date and Time
0,(0 - 0.00001),3648493,7.48% (100%),18.62 BTC,"$547,352",0% (100%),13/08/2023 13:44
1,[0.00001 - 0.0001),9578291,19.64% (92.52%),411.72 BTC,"$12,104,875",0% (100%),13/08/2023 13:44
2,[0.0001 - 0.001),12084944,24.78% (72.88%),"4,694 BTC","$138,013,773",0.02% (100%),13/08/2023 13:44
3,[0.001 - 0.01),11236056,23.04% (48.1%),"41,775 BTC","$1,228,237,337",0.21% (99.97%),13/08/2023 13:44
4,[0.01 - 0.1),7784483,15.96% (25.06%),"261,374 BTC","$7,684,675,479",1.34% (99.76%),13/08/2023 13:44

In [11]:
# Split the "% Addresses (Total)" column by the "(" delimiter and keep only the first part
df['% Addresses (Total)'] = df['% Addresses (Total)'].apply(lambda x: x.split('(')[0].strip())

# Convert the values to percentage
df['% Addresses (Total)'] = df['% Addresses (Total)'].str.rstrip('%').astype('float') / 100

# Display the updated DataFrame
df.head()

,"Balance, BTC",Addresses,% Addresses (Total),Coins,USD,% Coins (Total),Date and Time
0,(0 - 0.00001),3648493,0.0748,18.62 BTC,"$547,352",0% (100%),13/08/2023 13:44
1,[0.00001 - 0.0001),9578291,0.1964,411.72 BTC,"$12,104,875",0% (100%),13/08/2023 13:44
2,[0.0001 - 0.001),12084944,0.2478,"4,694 BTC","$138,013,773",0.02% (100%),13/08/2023 13:44
3,[0.001 - 0.01),11236056,0.2304,"41,775 BTC","$1,228,237,337",0.21% (99.97%),13/08/2023 13:44
4,[0.01 - 0.1),7784483,0.1596,"261,374 BTC","$7,684,675,479",1.34% (99.76%),13/08/2023 13:44

In [12]:
# Remove the "BTC" string and commas from the "Coins" column, then convert to decimal data type
df['Coins'] = df['Coins'].replace('[BTC,]', '', regex=True).astype(float)

# Round the values to 2 decimal places
df['Coins'] = df['Coins'].round(2)

# Display the updated DataFrame
df.head()

,"Balance, BTC",Addresses,% Addresses (Total),Coins,USD,% Coins (Total),Date and Time
0,(0 - 0.00001),3648493,0.0748,18.62,"$547,352",0% (100%),13/08/2023 13:44
1,[0.00001 - 0.0001),9578291,0.1964,411.72,"$12,104,875",0% (100%),13/08/2023 13:44
2,[0.0001 - 0.001),12084944,0.2478,4694.00,"$138,013,773",0.02% (100%),13/08/2023 13:44
3,[0.001 - 0.01),11236056,0.2304,41775.00,"$1,228,237,337",0.21% (99.97%),13/08/2023 13:44
4,[0.01 - 0.1),7784483,0.1596,261374.00,"$7,684,675,479",1.34% (99.76%),13/08/2023 13:44

In [13]:
# Split the "% Coins (Total)" column by the "(" delimiter and keep only the first part
df['% Coins (Total)'] = df['% Coins (Total)'].apply(lambda x: x.split('(')[0].strip())

# Convert the values to percentage
df['% Coins (Total)'] = df['% Coins (Total)'].str.rstrip('%').astype('float') / 100

# Display the updated DataFrame
df.head()

,"Balance, BTC",Addresses,% Addresses (Total),Coins,USD,% Coins (Total),Date and Time
0,(0 - 0.00001),3648493,0.0748,18.62,"$547,352",0.0000,13/08/2023 13:44
1,[0.00001 - 0.0001),9578291,0.1964,411.72,"$12,104,875",0.0000,13/08/2023 13:44
2,[0.0001 - 0.001),12084944,0.2478,4694.00,"$138,013,773",0.0002,13/08/2023 13:44
3,[0.001 - 0.01),11236056,0.2304,41775.00,"$1,228,237,337",0.0021,13/08/2023 13:44
4,[0.01 - 0.1),7784483,0.1596,261374.00,"$7,684,675,479",0.0134,13/08/2023 13:44

In [15]:
# Define the path for the CSV file
csv_file_path = "bitcoin_wealth_distribution.csv"

# Save the DataFrame to a CSV file
df.to_csv(csv_file_path, index=False)