# Import Libraries

In [11]:
import pandas as pd
from pandas_profiling import ProfileReport

In [12]:
#Load the Data
df = pd.read_csv('CleanderDataScience.csv')

In [14]:
#check Shape
df.shape

(3498, 8)

In [15]:
#Check sample
df.sample(10)

,Unnamed: 0,Job Title,Job Description,Company Name,Location,Industry,Est Min Salary,Est Max Salary
1780,2004,Data Analyst,Purpose of Job\nWe are currently seeking a tal...,USAA,"San Antonio, TX",Insurance Carriers,74000,140000
3028,3367,Data Analyst,"Business Intelligence AnalystLocation: Austin,...","Iconma, L.L.C.","Austin, TX",Staffing & Outsourcing,73000,111000
1398,1584,Data Engineer,Job Title Senior Data Engineer Location Chandl...,"ICST, LLC","Chandler, AZ",Staffing & Outsourcing,84000,101000
626,683,Data Scientist,"As a Project Scientist, you may assist in prep...",Cedars-Sinai,"Los Angeles, CA",Health Care Services & Hospitals,136000,164000
1659,1872,Data Scientist,Site Name: USA - Pennsylvania - Upper Providen...,GSK,"Collegeville, PA",Biotech & Pharmaceuticals,143000,237000
1138,1279,Data Scientist,Min Qualifications\n\nREQUIRED EDUCATION / EXP...,The University of Texas Medical Branch,"Webster, TX",Health Care Services & Hospitals,73000,136000
1766,1989,Data Scientist,"LMI is a government consulting firm, dedicated...",LMI,"San Antonio, TX",Consulting,54000,92000
733,809,Data Analyst,Kelly Services is seeking a Provider Analytics...,Kelly,"Chicago, IL",Staffing & Outsourcing,31000,56000
327,354,Data Scientist,In this role you will join the Aviana Data Sci...,Aviana Global Technologies,"Brea, CA",IT Services,102000,164000
2154,2418,Data Scientist,Description\nScientist/Associate Scientist Can...,"Fate Therapeutics, Inc.","San Diego, CA",Accounting,112000,211000

In [16]:
#check description
df.describe()

        Unnamed: 0  Est Min Salary  Est Max Salary
count  3498.000000     3498.000000     3498.000000
mean   1955.409949    82785.591767   135068.610635
std    1129.056284    34270.898430    44593.302576
min       0.000000    12000.000000    56000.000000
25%     970.250000    54000.000000    98000.000000
50%    1970.500000    79000.000000   130000.000000
75%    2933.750000   111000.000000   165750.000000
max    3908.000000   200000.000000   254000.000000

# Run pandas Profiling

In [17]:
report = ProfileReport(df, title="Data Science Salaries Profile")

In [18]:
report.to_file('DataScientist3.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [19]:
df_dirty = pd.read_csv('DataScientist2.csv', na_values=-1)

In [20]:
report_dirty = ProfileReport(df_dirty, title="Dirty Profile")
report_dirty.to_file('DatascienceDirty.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]